.editMapWrapper {
    display: flex;
}

.mapScreen {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.mapOverlay{
    width: 100vw;
    height: 100vh;
}

.rightPanel {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    width: 15.625rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    padding: 0.625rem; 
    z-index: 998;
    display: flex;
    flex-direction: column;
}

.toolbox-header, .legend-header {
    padding: 1rem 1rem 1rem 1.5rem;
    background-color: var(--background-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 1rem; 
    border-top-right-radius: 1rem; 
}
.toolbox-title, .legend-title{
    font-weight: 550;
    font-size: 2.2rem;
}
.toolbox, .legend {
    border-radius: 1rem; 
    background-color: var(--accent1);
}
.toolbox-separator, .legend-separator {
    border-bottom: .2rem solid var(--background-color); /* Adjust color as needed */
    margin: 0rem 1rem 1rem 1rem; /* Adjust margins as needed */
}
.sideControls{
    width: 50%;
    justify-content: center;
}
.sideControls .iconGroup {
    margin-top: 1rem;;
    display: flex;
    background-color: var(--background-color);
    border-radius: 1rem; /* This will give you rounded corners for the whole group */
    overflow: hidden; /* Ensures that inner items do not break the rounded corners */
}

.sideControls .material-icons {
    color: var(--main-text-color);
    padding: 0.625rem;
    display: flex; /* Makes sure the span behaves like a block element */
    align-items: center; /* Centers the icons vertically */
    justify-content: center; /* Centers the icons horizontally */
    position: relative; /* Needed for the pseudo-element positioning */
    flex: 1;
}
.sideControls .material-icons:first-child::after {
    content: '';
    position: absolute;
    right: 0;
    width: 0.125rem; /* Width of the separator */
    background-color: var(--main-text-color); /* Color of the separator */
    top: 25%; /* Start the separator at 25% from the top */
    bottom: 25%; /* End the separator at 25% from the bottom */
}
/* Remove border from the last icon */
.sideControls .material-icons:last-child {
    padding-left: 0.625rem; /* Adjust the padding to match the left icon */
}


