:root{
    --main-text-color: #E0CA3C;
    --background-color: #3E2F5B;
    --accent1: #B7ADCF;
    --accent2:#292929;
    --accent3: #EBEBEB;

    --title: 'Inter', serif;
}

html,
body,
main,
div#root {
	min-width: 100%;
	width: 100%;
    margin: 0;
	justify-content: flex-start;
}

html,
div#root {
	min-height: 100vh;
    width: 100%;
	background: var(--accent1);
}

h1{
    margin: none;
    font-family: var(--title);
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
}

button{
    background-color: var(--accent2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent3);
    border: none;
    height: 1.8rem;
    width: auto;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-family: var(--title);
    font-weight: 500;
    border-radius: 1rem;
    white-space: nowrap;
}

input{
    border: none;
    background-color: var(--accent2);
    color: var(--accent3);
    outline: none;
}