#homeWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.functionsWrapper{
    width: auto;
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 0;
    padding-left: 5vw;
}

.functionsWrapper button,
.functionsWrapper div
{
    margin-right: 0.5rem;
}

#createPostButton{
    padding: 0.2rem 2rem 0.2rem 2rem;
}

.searchBarWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    height: 2rem;
    background-color: var(--accent2);
    color: var(--accent3);
    padding: 0.2rem 2rem 0.2rem 2rem;
    border-radius: 1rem;
}

.searchIcon{
    position: absolute;
    transform: translateX(-1.2rem);
}

#searchInput{
    width: 100%;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.contentWrapper{
    display: flex;
    justify-content: space-between;
}

#postListWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5vw;
}

.tagWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5vw;
    margin-left: 5vw;
    height: 30rem;
    width: 20rem;
    background-color: var(--accent3);
    border-radius: 1rem;
}

.tagTitle{
    background-color: var(--accent2);
    color: var(--accent3);
    border-radius: 1rem 1rem 0 0;
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagWrapper .tag{
    margin: 0 0 1rem 1rem;
}

.sortByButton{
    display: flex;
    align-items: center;
    width: 9rem;
    justify-content: center;
    z-index: 2;
}

.sortBy{
    display: flex;
    flex-direction: column;
    background-color: var(--accent2);
    border-radius: 1rem;
}

.sortByMenu{
    position: absolute;
    color: var(--accent3);
    background-color: var(--accent2);
    width: 9.5rem;
    transform: translateY(0%);
    padding-top: 2.5rem;
    border-radius: 1rem;
    z-index: 1;
}

.dropdownOption{
    padding: 0.5rem 0;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

.mapOnlySelected{
    background-color: var(--background-color);
    color: var(--main-text-color)
}