.modalWrapper{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
}

.modalWrapper.show{
    display: block;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    color: var(--main-text-color);
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal.lowPosition{
    top: 90%;
    left: 50%;
}
.modalHeader,
.modalFooter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modalHeader{
    margin-bottom: 2rem;
}

.modalHeader div{
    font-size: 3rem;
    color: var(--accent3);
    cursor: pointer;
}

.modalFooter{
    margin-top: 2rem;
}

.modalButton{
    background-color: var(--main-text-color);
    color: var(--background-color);
    font-weight: 800;
}

.modalButton:disabled {
  opacity: 0.2;
}

.alertModalMessage{
    display: flex;
    width: 20rem;
    color: var(--accent3);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.closeButton {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.uploadMapBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  border: 2px dashed #aaa;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

.uploadMapLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.forbidden-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forbidden-wrapper h3 {
  color: var(--main-text-color);
  font-size: 32px;
}

.forbidden-wrapper button {
  background-color: var(--background-color);
  margin-top: 20px;
}