.modalWrapper{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.modalWrapper.show{
    display: block;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    color: var(--main-text-color);
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modalHeader,
.modalFooter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modalHeader{
    margin-bottom: 2rem;
}

.modalHeader div{
    font-size: 3rem;
    color: var(--accent3);
    cursor: pointer;
}

.modalFooter{
    margin-top: 2rem;
}

.modalButton{
    background-color: var(--main-text-color);
    color: var(--background-color);
    font-weight: 800;
}

.alertModalMessage{
    display: flex;
    width: 20rem;
    color: var(--accent3);
}