#navBarWrapper{
    position: sticky;
    background-color: var(--background-color);
    color: var(--main-text-color);
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

#logotype{
    margin-left: 5vw;
    cursor: pointer;
}

.profileIcon{
    margin-right: 5vw;
    font-size: 2rem !important;
    cursor: pointer;
}

.nav-dropdown {
  position: absolute;
  top: 3.5rem;
  right: 80px;
  background-color: var(--background-color);
  border-radius: 0px 0px 20px 20px;
  width: auto;
  z-index: 999;
}

.nav-dropdown-list {
  padding: 0;
  margin: 0;
}

.nav-dropdown-option {
  padding: 8px 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--accent3)
}

.nav-dropdown-option:hover {
 color: var(--main-text-color);
}

.nav-dropdown-option span {
  font-size: 16px;
  font-weight: bold;
}